{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <p>{% trans 'Edit preferences page' %}</p>
    <form method="POST" class="preferences-form">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                    {{ error|escape }}
                    </div>
                {% endfor %}
                {{ field.label }}
                {{ field }}       
            </div>
        {% endfor %}
        <button type="submit" class="save btn btn-default">{% trans 'Save' %}</button>
    </form>
</body>
</html>
{% endblock %}