{% extends "base_generic.html" %}

{% block content %}
<head>
    <title>Schedule your week</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <p>Schedule week page</p>
    <p>Date: {{ userweek.monday_date }}</p>
    <p>User: {{ userweek.employee.get_username }}</p>
    <form method="POST" class="schedule-form">
        {% csrf_token %}
        {{ editform.as_p }}
        <button type="submit" class="save btn btn-default" name="editweek">Save</button>
    </form>
    <form method='POST'>
        {% csrf_token %}
        {{ generateform.as_p }}
        <button type="submit" class="save btn btn-default" name="generateweek">Save</button>
    </form>
    <form method='POST'>
        {% csrf_token %}
        <input type="submit" class="btn" value="Clear Schedule" name="mybtn">
    </form>
</body>
</html>
{% endblock %}