{% extends "base_generic.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
    <p>Logged in as: {{ userweek.employee.get_full_name }}</p>
    <p>Date: {{ userweek.year }}|{{userweek.week}}, {{date_range}} </p>
    <p>Choose workstation manually:</p>
    <form method="POST" class="schedule-form">
        {% csrf_token %}
        {% for field in editform %}
            <p>{{ field.label }} {{ field }}</p>
        {% endfor %}
        <button type="submit" class="button" name="editweek">Save</button>
    </form>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="empty-space"></p>
    <form method='POST'>
        {% csrf_token %}
        {{ generateform.as_ul }}
        <button type="submit" class="button" name="generateweek">Save</button>
    </form>
    <p class="empty-space"></p>
    <div class="sw-control-buttons">
        <div id="sw-clear-schedule">
            <form method='POST'>
                {% csrf_token %}
                <input type="submit" class="button" value="Clear Schedule" name="mybtn">
            </form>
        </div>
        <a href="{% url 'user_panel'%}" id="sw-cancel"><button>Cancel</button></a>
    </div>
</body>
</html>
{% endblock %}