{% extends "base_generic.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
<div class='user-body'>
    {% if messages %}
        <ul class="messages" name="schedule_message">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <a class='up-month-name'>{{date_name}}</a>
    <div class=up-date-buttons>
        <a class="btn btn-primary" href="{% url 'user_panel' date=previous_date %}" id='change_date' >Previous</a>
        <a class="btn btn-primary" href="{% url 'user_panel' date=next_date %}" id='change_date'>Next</a>
    </div>
    {% render_table table %}
    {% render_table preferences %}
    <div class=up-preference-buttons>
        <a class="btn btn-primary" href="{% url 'edit_preferences' %}" id='edit_preferences_btn'>Edit preferences</a>
        <a class="btn btn-primary" href="{% url 'workstation_schedule' date=date %}", id='edit_preferences_btn'>Workstations schedule</a>
        <a class="btn btn-primary" href="{% url 'workstation_preferences'%}", id='edit_preferences_btn'>Workstations preferences</a>
    </div>
</div>
</body>
</html>
{% endblock %}