{% extends "base_generic.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class='workstation-schedule-body'>
    <p>{% trans 'Workstations schedule' %}</p>
    <div class=up-date-buttons>
        <a class="btn btn-primary" href="{% url 'spaceplanner:workstation_schedule' date=previous_date %}" id='change_date' >{% trans 'Previous' %}</a>
        <a class="btn btn-primary" href="{% url 'spaceplanner:workstation_schedule' date=next_date %}" id='change_date'>{% trans 'Next' %}</a>
    </div>
    <a class='up-month-name'>{{date_range}}</a>
    {% render_table table %}
</div>
</body>
</html>
{% endblock %}