.main-body {
    background-color: #dbd9d9;
  }

.page-header {
    background-color: hsl(189, 100%, 38%);
    padding: 20px 20px 20px 40px;
    text-align: center
}

.col-sm-2 {
    min-width: min-content;
    float:left;
}

.sidebar-nav {
    background-color: #bfca5c;
    padding: 20px 20px 20px 40px;
    text-align: left;
    min-width: min-content;
    margin-top: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    border: 3px solid #73AD21;
}

.col-sm-10 {
    float:left;
    margin:auto;
}

.user-body, .workstation-schedule-body {
    text-align: center;
}

.up-month-name {
    position: relative;
    float: right;
    right: 10px;
}

.up-date-buttons {
    float: left;
    left: 10px;
    margin-bottom: 10px
}

.up-preference-buttons {
    float: left;
    left: 10px;
    margin-top: 10px
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    color: rgb(255, 255, 255)
}

.today {
    background-color: rgba(255, 215, 0, 0.2);
}

.btn-primary {
    margin-left: 10px;
    margin-right: 10px;
}

#workstation_schedule_btn {
    width: 185px;
}

#edit_preferences_btn {
    width: 185px;
}

#change_date {
    width: 85px;
}

