.html {
  }
.body {
    background-color: #b4b6a5;
  }

.page-header {
    background-color: hsl(189, 100%, 38%);
    padding: 20px 20px 20px 40px;
    text-align: center
}

.container-fluid {
}

.col-sm-2 {
    min-width: min-content;
    float:left;
}

.sidebar-nav {
    background-color: #bfca5c;
    padding: 20px 20px 20px 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    min-width: min-content;
    margin-top: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
}

.col-sm-10 {
    float:left;
    margin:auto;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255)
}

.today {
    background-color: rgba(255, 215, 0, 0.4);
}

.btn-primary {
    margin-left: 10px;
    margin-right: 10px;
}

#workstation_schedule_btn {
    width: 185px;
}

#edit_preferences_btn {
    width: 185px;
}

#change_date {
    width: 85px;
}